* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 209, 209);
  font-family: "Josefin Sans", sans-serif;
}

#title {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-size: 36px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.formForAddBook {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.formForAddBook-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}

.formForAddBook-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.formForAddBook-content input[type="text"],
.formForAddBook-content input[type="number"],
.formForAddBook-content input[type="file"],
.formForAddBook-content input[type="checkbox"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  max-width: 100%; /* Limit field width */
}

.formForAddBook-content input[type="checkbox"] {
  margin-left: 10px;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #45a049;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.book-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
  width: calc(
    33.33% - 20px
  ); /* Three cards per row with 20px gap between them */
  text-align: center;
  transition: transform 0.3s ease;
}

.book-item:hover {
  transform: translateY(-5px);
}

.book-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.book-details {
  font-size: 16px;
}

.book-details h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  max-width: 100%; /* Limit title width */
}

.book-details p {
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 100%; /* Limit other details width */
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

h2 {
  text-align: center;
}

.book-details .read-status {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.book-details .read-status.read {
  background-color: #4caf50;
  color: white;
}

.book-details .read-status.unread {
  background-color: #f44336;
  color: white;
}

#github-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#github-button a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

#github-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
